@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";
@import "gratitude/index.css";
@import "gratitude/entry.css";
@import "gratitude/post.css";
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Petit+Formal+Script&display=swap');


.layout {
  display: flex;
}
.calendar {
  margin: 25px;
  display: inline-flex;
  width: 1030px;
  flex-wrap: wrap;
}
.key {
  margin: 25px;
  width: 30%;
  border: solid #0000002b;
  border-radius: 5%;
  border-width: 5px;
  height: 550px;
  display: inline-grid;
  padding: 25px;
  background-color: white;
}
.calendar-day {
  width: 130px;
  height: 130px;
  border: solid #0000002b;
  border-radius: 5%;
  border-width: 5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
}
.key-name {
   font-family: 'American Typewriter', serif;
   font-weight: 500;
   font-size:larger;
}

.dot {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}

.selected{
  border: solid black;
  border-width: 2.5px;
}


.textarea {
  background: white;
  border-radius: 0.25rem;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  color: black;
  display: block; /* fixes margin issue in FF and Chrome */
  font-family: 'American Typewriter', serif;
  font-weight: 500;
  font-size: 1em;
  height: auto;
  line-height: 1.5;
  margin: 0;
  min-height: 10rem;
  width: 100%;
}

.update {
  padding: 0px 20px 20px 20px;
}

.edit-modal {
  width: 250px;
  height: 500px;
  padding: 20px;
}

body  {
}

.tile {
  border: solid #C59C66;
  border-radius: 5%;
  background-color: white;
  margin: 50px;
  border-radius: 10%;
  height: 300px;
  text-align:center;
  font-size: 75px;
  font-family: 'Molle', cursive;
  color:#C59C66;
}
.tile:hover {
  background-color: #F2F2F2;
  box-shadow: 0 0 21px rgba(33,33,33,.2);
  color:#C59C66;
  text-decoration: none;
}

.home {
  height: 1500px;
  background: url('/assets/images/gold-marble.jpeg') center center;
}

.tracker {
  height: 1500px;
  background: url('/assets/images/dot-grid-paper.jpeg') center center;
}

.title {
font-family: 'Molle', cursive;
color:#C59C66;
text-align:center;
font-size: 150px;
padding-top: 50px;
}
