<div class="home">
  <h1 class="title">Bullet Journal</h1>
  <div class="container">
    <div class="row">
      <div class="col tile" style="text-align: center;" {{on "click" (fn this.routeToTracker 'tracker')}}>
          Exercise
      </div>
      <LinkTo @route="gratitude" class="col tile" style="text-align: center;">
        Gratitude
      </LinkTo>
      <div class="col tile" style="text-align: center;">
          Mood
      </div>
      <div class="col tile" style="text-align: center;">
          Sleep
      </div>
    </div>
  </div>

</div>
